name: Retrieve and store private IP from AWS

on:
  schedule:
    - cron: '*/1 * * * *'
  workflow_dispatch:

jobs:
  retrieve:
    name: Retrieve
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-southeast-1

    - name: Retrieve PRD_PRIVATE_IP
      shell: bash
      run: |
        CLUSTER=arn:aws:ecs:ap-southeast-1:949519472813:cluster/prd-etg-docker
        CONTAINER=` \
          aws ecs list-container-instances \
          --cluster $CLUSTER \
          --status ACTIVE \
          --max-items 1 \
          --no-paginate \
          --query 'containerInstanceArns[0]' \
          --output text \
        ` || exit 1
        EC2=` \
          aws ecs describe-container-instances \
          --cluster $CLUSTER \
          --container-instances $CONTAINER \
          --no-paginate \
          --query 'containerInstances[0].ec2InstanceId' \
          --output text \
        ` || exit 1
        PRIVATE_IP=` \
          aws ec2 describe-instances \
          --instance-ids $EC2 \
          --no-paginate \
          --query 'Reservations[0].Instances[0].PrivateIpAddress' \
          --output text
        ` || exit 1
        echo $PRIVATE_IP > prd_private_ip.txt
        cat <<EOF > index.html
        $PRIVATE_IP executivecentre.com www.executivecentre.com executivecentre.com.cn www.executivecentre.com.cn executivecentre.co.kr www.executivecentre.co.kr
        EOF

    - name: Retrieve UAT_PRIVATE_IP
      shell: bash
      run: |
        CLUSTER=arn:aws:ecs:ap-southeast-1:949519472813:cluster/uat-etg-docker
        CONTAINER=` \
          aws ecs list-container-instances \
          --cluster $CLUSTER \
          --status ACTIVE \
          --max-items 1 \
          --no-paginate \
          --query 'containerInstanceArns[0]' \
          --output text \
        ` || exit 1
        EC2=` \
          aws ecs describe-container-instances \
          --cluster $CLUSTER \
          --container-instances $CONTAINER \
          --no-paginate \
          --query 'containerInstances[0].ec2InstanceId' \
          --output text \
        ` || exit 1
        PRIVATE_IP=` \
          aws ec2 describe-instances \
          --instance-ids $EC2 \
          --no-paginate \
          --query 'Reservations[0].Instances[0].PrivateIpAddress' \
          --output text
        ` || exit 1
        echo $PRIVATE_IP > uat_private_ip.txt
        cat <<EOF > index.html
        $PRIVATE_IP executivecentre.com www.executivecentre.com executivecentre.com.cn www.executivecentre.com.cn executivecentre.co.kr www.executivecentre.co.kr
        EOF

    - name: Git Commit and Push
      uses: actions-x/commit@v2
      with:
        message: autocommit
