# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-1

      # Runs a set of commands using the runners shell
      - name: Deploy new proxy
        run: |
          PRD_PRIVATE_IP=$(cat prd_private_ip.txt)
          [ -z $PRD_PRIVATE_IP ] && exit 1
          CURRENT_IP=$( \
            aws ecs describe-task-definition \
            --task-definition arn:aws:ecs:ap-southeast-1:949519472813:task-definition/prd-marketing-website-proxy \
            --query 'taskDefinition.containerDefinitions[0].extraHosts[0].ipAddress' \
            --output text \
          )
          [ $PRD_PRIVATE_IP == $CURRENT_IP ] && exit 0
          PRD_DEFINITION_ARN=$( \
            aws ecs register-task-definition \
            --family 'prd-marketing-website-proxy' \
            --task-role-arn 'arn:aws:iam::949519472813:role/task-role' \
            --execution-role-arn 'arn:aws:iam::949519472813:role/task-execution-role' \
            --network-mode 'bridge' \
            --container-definitions '[{"portMappings":[{"hostPort":8118,"protocol":"tcp","containerPort":8118}],"memoryReservation":300,"image":"registry.hub.docker.com/splazit/privoxy-alpine:latest","essential":true,"extraHosts":[{"ipAddress":"'$PRD_PRIVATE_IP'","hostname":"executivecentre.com"},{"ipAddress":"'$PRD_PRIVATE_IP'","hostname":"www.executivecentre.com"},{"ipAddress":"'$PRD_PRIVATE_IP'","hostname":"executivecentre.com.cn"},{"ipAddress":"'$PRD_PRIVATE_IP'","hostname":"www.executivecentre.com.cn"},{"ipAddress":"'$PRD_PRIVATE_IP'","hostname":"executivecentre.co.kr"},{"ipAddress":"'$PRD_PRIVATE_IP'","hostname":"www.executivecentre.co.kr"}],"privileged":true,"name":"prd-marketing-website-proxy"}]' \
            --requires-compatibilities 'EC2' \
            --query 'taskDefinition.taskDefinitionArn' \
            --output text \
          )
          aws ecs update-service \
          --cluster 'arn:aws:ecs:ap-southeast-1:949519472813:cluster/prd-etg-docker' \
          --service 'arn:aws:ecs:ap-southeast-1:949519472813:service/marketing-website-proxy' \
          --desired-count 1 \
          --task-definition ''$PRD_DEFINITION_ARN'' \
          --deployment-configuration '{"maximumPercent":200,"minimumHealthyPercent":100}' \
          --force-new-deployment
