name: Refresh public IP from AWS ECS

on:
  schedule:
    - cron: '*/1 * * * *'
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-southeast-1

    - name: Retrieve TASK_PUBLIC_IP
      uses: actions/github-script@v3.1.0
      with:
        script: |
          TASK_ARN=$(aws ecs list-tasks --cluster arn:aws:ecs:ap-southeast-1:949519472813:cluster/prd-etg-docker --family prd-marketing-website --desired-status RUNNING --no-paginate --query 'taskArns[0]' --output text)
          if [ ! -z $TASK_ARN ]; then
            TASK_ENI=$(aws ecs describe-tasks --cluster arn:aws:ecs:ap-southeast-1:949519472813:cluster/prd-etg-docker --tasks $TASK_ARN --no-paginate --query '(sort_by(tasks[?attachments[0].status != `ATTACHING` && attachments[0].details[? name == `networkInterfaceId`].value != ``], &version)[-1].attachments[0].details[? name == `networkInterfaceId`].value)[0]' --output text)
            if [ ! -z $TASK_ENI ]; then
              TASK_PUBLIC_IP=$(aws ec2 describe-network-interfaces --network-interface-ids eni-01791e7c09b43174a --no-paginate --query '(NetworkInterfaces[? Association.PublicIp != ``])[0].Association.PublicIp' --output text)
              echo $TASK_PUBLIC_IP
            fi
          fi
