# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-1

      - name: Deploy new proxy PRD
        run: |
          PRIVATE_IP=`dig +short internal-prd-etg-sentinel-internal-1601811399.ap-southeast-1.elb.amazonaws.com | awk '{ print ; exit }'` || exit 1
          CURRENT_IP=` \
            aws ecs describe-task-definition \
            --task-definition arn:aws:ecs:ap-southeast-1:949519472813:task-definition/prd-marketing-website-proxy \
            --no-paginate \
            --query 'taskDefinition.containerDefinitions[0].extraHosts[0].ipAddress' \
            --output text \
          `
          [ $PRIVATE_IP == $CURRENT_IP ] && exit 0
          DEFINITION_ARN=` \
            aws ecs register-task-definition \
            --family 'prd-marketing-website-proxy' \
            --task-role-arn 'arn:aws:iam::949519472813:role/task-role' \
            --execution-role-arn 'arn:aws:iam::949519472813:role/task-execution-role' \
            --network-mode 'bridge' \
            --container-definitions '[{"portMappings":[{"hostPort":8118,"protocol":"tcp","containerPort":8118}],"image":"registry.hub.docker.com/splazit/privoxy-alpine:latest","essential":true,"memoryReservation":"128","extraHosts":[{"ipAddress":"'$PRIVATE_IP'","hostname":"executivecentre.com"},{"ipAddress":"'$PRIVATE_IP'","hostname":"www.executivecentre.com"},{"ipAddress":"'$PRIVATE_IP'","hostname":"executivecentre.com.cn"},{"ipAddress":"'$PRIVATE_IP'","hostname":"www.executivecentre.com.cn"},{"ipAddress":"'$PRIVATE_IP'","hostname":"executivecentre.co.kr"},{"ipAddress":"'$PRIVATE_IP'","hostname":"www.executivecentre.co.kr"}],"privileged":true,"name":"prd-marketing-website-proxy"}]' \
            --requires-compatibilities 'EC2' \
            --no-paginate \
            --query 'taskDefinition.taskDefinitionArn' \
            --output text \
          `
          aws ecs update-service \
          --cluster 'arn:aws:ecs:ap-southeast-1:949519472813:cluster/prd-etg-docker' \
          --service 'arn:aws:ecs:ap-southeast-1:949519472813:service/marketing-website-proxy' \
          --desired-count 1 \
          --task-definition ''$DEFINITION_ARN'' \
          --deployment-configuration '{"maximumPercent":200,"minimumHealthyPercent":100}' \
          --force-new-deployment \
          --no-paginate


      - name: Deploy new proxy UAT
        run: |
          PRIVATE_IP=`dig +short uat-etg-sentinel-1911837940.ap-southeast-1.elb.amazonaws.com | awk '{ print ; exit }'` || exit 1
          CURRENT_IP=` \
            aws ecs describe-task-definition \
            --task-definition arn:aws:ecs:ap-southeast-1:949519472813:task-definition/uat-marketing-website-proxy \
            --no-paginate \
            --query 'taskDefinition.containerDefinitions[0].extraHosts[0].ipAddress' \
            --output text \
          `
          [ $PRIVATE_IP == $CURRENT_IP ] && exit 0
          DEFINITION_ARN=` \
            aws ecs register-task-definition \
            --family 'uat-marketing-website-proxy' \
            --task-role-arn 'arn:aws:iam::949519472813:role/task-role' \
            --execution-role-arn 'arn:aws:iam::949519472813:role/task-execution-role' \
            --network-mode 'bridge' \
            --container-definitions '[{"portMappings":[{"hostPort":8118,"protocol":"tcp","containerPort":8118}],"image":"registry.hub.docker.com/splazit/privoxy-alpine:latest","essential":true,"memoryReservation":"128","extraHosts":[{"ipAddress":"'$PRIVATE_IP'","hostname":"executivecentre.com"},{"ipAddress":"'$PRIVATE_IP'","hostname":"www.executivecentre.com"},{"ipAddress":"'$PRIVATE_IP'","hostname":"executivecentre.com.cn"},{"ipAddress":"'$PRIVATE_IP'","hostname":"www.executivecentre.com.cn"},{"ipAddress":"'$PRIVATE_IP'","hostname":"executivecentre.co.kr"},{"ipAddress":"'$PRIVATE_IP'","hostname":"www.executivecentre.co.kr"}],"privileged":true,"name":"uat-marketing-website-proxy"}]' \
            --requires-compatibilities 'EC2' \
            --no-paginate \
            --query 'taskDefinition.taskDefinitionArn' \
            --output text \
          `
          aws ecs update-service \
          --cluster 'arn:aws:ecs:ap-southeast-1:949519472813:cluster/uat-etg-docker' \
          --service 'arn:aws:ecs:ap-southeast-1:949519472813:service/marketing-website-proxy' \
          --desired-count 1 \
          --task-definition ''$DEFINITION_ARN'' \
          --deployment-configuration '{"maximumPercent":200,"minimumHealthyPercent":100}' \
          --force-new-deployment \
          --no-paginate
