# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-1

      # Runs a set of commands using the runners shell
      - name: Deploy new proxy
        run: |
          TASK_PUBLIC_IP=$(cat public_ip.txt)
          TASK_DEFINITION_ARN=$( \
            aws ecs register-task-definition \
            --family 'uat-marketing-website-proxy' \
            --task-role-arn 'arn:aws:iam::949519472813:role/task-role' \
            --execution-role-arn 'arn:aws:iam::949519472813:role/task-execution-role' \
            --network-mode 'bridge' \
            --container-definitions '[{"dnsSearchDomains":null,"environmentFiles":null,"logConfiguration":null,"entryPoint":null,"portMappings":[{"hostPort":8118,"protocol":"tcp","containerPort":8118}],"command":null,"linuxParameters":null,"cpu":0,"environment":[],"resourceRequirements":null,"ulimits":null,"dnsServers":null,"mountPoints":[],"workingDirectory":null,"secrets":null,"dockerSecurityOptions":null,"memory":null,"memoryReservation":300,"volumesFrom":[],"stopTimeout":null,"image":"registry.hub.docker.com/splazit/privoxy-alpine:latest","startTimeout":null,"firelensConfiguration":null,"dependsOn":null,"disableNetworking":null,"interactive":null,"healthCheck":null,"essential":true,"links":null,"hostname":null,"extraHosts":[{"ipAddress":"'$TASK_PUBLIC_IP'","hostname":"executivecentre.com"},{"ipAddress":"'$TASK_PUBLIC_IP'","hostname":"www.executivecentre.com"},{"ipAddress":"'$TASK_PUBLIC_IP'","hostname":"executivecentre.com.cn"},{"ipAddress":"'$TASK_PUBLIC_IP'","hostname":"www.executivecentre.com.cn"},{"ipAddress":"'$TASK_PUBLIC_IP'","hostname":"executivecentre.co.kr"},{"ipAddress":"'$TASK_PUBLIC_IP'","hostname":"www.executivecentre.co.kr"}],"pseudoTerminal":null,"user":null,"readonlyRootFilesystem":null,"dockerLabels":null,"systemControls":null,"privileged":true,"name":"uat-marketing-website-proxy"}]' \
            --requires-compatibilities 'EC2' \
            --query 'taskDefinition.taskDefinitionArn' \
            --output text \
          )
          aws ecs update-service \
          --cluster 'arn:aws:ecs:ap-southeast-1:949519472813:cluster/uat-etg-docker' \
          --service 'arn:aws:ecs:ap-southeast-1:949519472813:service/marketing-website-proxy' \
          --desired-count 1 \
          --task-definition '$TASK_DEFINITION_ARN' \
          --deployment-configuration '{"maximumPercent":200,"minimumHealthyPercent":100}' \
          --platform-version '1.4.0' \
          --force-new-deployment
